/* ini css */

* {
  margin: 0;
}

img {
  width:600px;
}

.container {
  width: 100%;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: black;
}

.About {
  text-align: center;
}

.detail-portofolio {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

#skills {
  color: blue;
}

.my-skills {
  display: flex;
  gap: 24px;
  padding: 10px 0px;
}

@media (max-width: 768px) {
  img {
    width: 300px
  }
  .aboutme {
    width: 350px;
  }

  }

@media (min-width: 768px) and (max-width: 992px) {
  body {
  }
  }

@media (min-width: 992px) {

.listskill {
  text-align: center;
}
}
